node_modules/
**/node_modules/
target/
**/target/
dist/
**/dist/
build/
**/build/
out/
**/out/
unpackage/
**/unpackage/
venv/
**/venv/
.venv/
**/.venv/
vendor/
**/vendor/
uni_modules/
**/uni_modules/
.metadata/
**/.metadata/
.idea/
.vscode/
.hbuilderx/
*.iml
*.ipr
*.iws
.env
.env.*
!.env.example
**/application.yml
**/application.yaml
**/application.properties
**/jdbc.properties
**/config.properties
**/druid.properties
**/project.private.config.json
*.log
db.rar
renren-fast.jar
resource/安装包/
gulimall-product/src/test/java/com/xunqi/gulimall/product/GulimallProductApplicationTests.java
gulimall-third-party/src/main/java/com/xunqi/gulimall/thirdparty/controller/OssController.java
gulimall-third-party/src/test/java/com/xunqi/gulimall/thirdparty/GulimallThirdPartyApplicationTests.java
renren-fast-vue/static/plugins/ueditor-1.4.3.3/dialogs/webapp/webapp.html
resource/笔记/谷粒商城—分布式基础.md
